.task-action {
    cursor: pointer;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   background-color: grey;
}

.main-div {
    width: 255px;
    height: 255px;
}